{% extends 'base.html' %}

{% block body_block %}
<div class="container mt-5">
    <h2 class="mb-3">
        Shipping Address <span class="text-muted">Checkout</span>
    </h2>
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-5" style="height: auto;">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form}}
                        <button class="btn btn-success btn-lg btn-block mt-3 float-right" type="submit">Save Address</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="card" style="height: auto;">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order_item in order_items %}
                            <li class="list-group-item">{{order_item.item.name}} x {{order_item.quantity}}</li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="card-footer">
                    <span class="float-left"><b>Order Total</b></span>
                    <span class="float-right"><b>Ugx. {{order_total}}</b></span>
                </div>
            </div>
            <br>
            {% if saved_address.is_fully_filled %}
                <a href="{% url 'App_Shop:payment' %}" class="btn btn-success btn-lg btn-block mt-3">Payment</a> 
            {% else %}
            <div class="alert alert-info">
                <p>Please fill up all the information before payment.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}