{% extends 'base.html'%}
{% block body_block %}
<style>
    body{
        font-family: sans-serif;
        text-align: center;
        background-color: ghostwhite;
        background-position: center;
        background-size: cover;
    }

    .form{
        display: flex;
        flex-direction: column;
        margin: 6% auto;
        align-items: center;
        width: 700px;
        height: 90%;
        background: rgb(250, 248, 248);
        text-align: center;
        padding: 20px;
        border: 1px solid whitesmoke;
        box-shadow: 15px 20px 20px #504e4eee;
        border-radius: 15px;
        text-align: left;
        
    }
    .register{
        width: 400px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: #04eb49;
        margin-top: 15px;
        border-radius: 15px;
        transition: 0.3s ease;

    }
    .register:hover{
        background-color: brown;
    }
    .box{
        display: flex;
        background-color: rgb(248, 246, 242);
        width: 450px;
        padding: 8px;
        border: none;
        border-bottom: 5px solid rgb(194, 28, 28);
        transition: 0.3s ease;

    }
</style>
<h1 style="color: gray;">Business Form</h1>
<form class="form" method="POST">
    {% csrf_token %}
    <h1 style="text-align: center;">Register Business</h1>
    {{form.as_p}}
    <button class= "register" type="submit">Register Business</button>

</form>

</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}