{% extends "base.html" %} {% block body_block %}
<style>
    body{
        background-color: silver;
        text-align: center;
    }
    form{
        background: whitesmoke;
        border-radius: 20px;
        background: transparent;
        margin-top: 30px;
        
    }
    .btn{
        width: 150px;
        background-color: blue;
        color: white;
        font-size: 18px;
        border-radius: 15px;
        transition: 0.3s ease;
    }
    .btn:hover{
        background-color: rgb(61, 233, 26);
    }
    .see{
        border: 2px solid;
        border-radius: 15px;
        width: 200px;
        font-size: 18px;
        height: 35px;
        padding-bottom: 8px;
    }
</style>

<h1 style="color: darkslategray;">Search Products</h1>
<form action="" method="POST">
  {%csrf_token%}
  <input type="text" class="see" placeholder="Search" name="search" />
  <button type="submit" class="btn">Search</button>
</form>

{%if searched%} 

{%for product in searched%} 
<div class="container my-5">
    <h2 class="my-5"></h2>
    <div class="row">
        
        <div class="col-md-6 col-sm-12 col-lg-3">
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="/media/{{product.mainimage}}" style="width: 100%; height:300px;">
                </div>
                <figcaption class="info-wrap">
                    <h6 class="title"><a href="{% url 'App_Shop:product_detail' pk=product.pk %}" style="color:black">{{product.name}}</a></h6>
                    <div class="action-wrap">
                        <div class="price-wrap h5">
                            <span class="price-new">Ugx. {{product.price}}</span>
                            <span class="price-old">Ugx. {{product.old_price}}</span>
                        </div>
                    </div>
                </figcaption>

            </figure>
        </div>     
        
    </div>
</div>
{%endfor%}

 {%endif%}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
