{% extends 'base.html' %}

{% block title_block %}Login{% endblock %}
{% block body_block %}

<style>
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("88.jpg"); 
    background-repeat: repeat;
  }
  
  header {
    align-items: center;
    font-size: 31px;
    justify-content: space-between;
    top: 0px;
    right: 0px;
    padding: 20px 80px;
    top: 0;
    right: 0;
    background-color: black;
  }
  
  
  header h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
  }
  
  main {
    padding: 50px 0;
  }
  
  section {
    display: flex;
    position: relative; 
  }
  
  .about-content {
    flex: 2;
    padding: 20px;
    background-color: rgba(156, 123, 123, 0.8);
    border-radius: 4px;
    background: transparent;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  p {
    line-height: 1.5;
  }
  
  .team-photo-container {
    flex: 1;
    padding-top: 80px;
    position: relative; 
    
  }
  
  .team-photo {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .team-photo-container::after {  
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/overlay-pattern.png"); 
    background-repeat: repeat;
    opacity: 0.3;
  }
  
  footer {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    background-color: black;
  }
  .about-us{
    display: flex;
    position: relative;
  }
  .we{
    background-color: rgb(174, 235, 235);
    margin: 0;
    
   
  }
  .reachus{
    background-color: grey;
  
  }
  #home{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
    color: rgb(90, 5, 5);
    background-color: goldenrod;
    cursor: pointer;
  }
  .about-content #home{
    margin-top: -150px;
  }
</style>

  <main>
    <section class="about-us">
      
      <div class="about-content">


        <div class="we">
          <h2><i class="ri-task-line"></i>Our Mission</h2>
          <p>Our mission is to provide quality online business services to our clients or customers</p>
          <h2>Our Team<i class="ri-team-line"></i></h2>
          <p>We are a great team that work together and headed by our Leader Kamuli Bob</p>
        </div>
        <div class="reachus">
          <h2></i><i class="ri-contacts-book-2-line"></i>Contact Us<i class="ri-contacts-line"></i></h2>
          <p>Contact phone: 0742098888</p>
          <p>Email Address: eco@gmail.com</p>
          <h2>Eco-Store Info<i class="ri-information-fill"></i></h2>
          <p>Eco- Store is an online website that enables businessmen to manage their businesses online</p>
          <p>It helps our customers to conduct online businesses</p>
        </div>
      </div>
      <div class="team-photo-container">
        <img src="buggatti.jpg" alt="Team Photo">
      </div>
    </section>
  </main>

{% endblock %}