{% extends 'base.html' %}

{% block title_block %}Profile{% endblock %}
{% block body_block %}
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-warning btn-sm">Save</button>
</form>
<br><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
