{% extends 'base.html' %}

{% block title_block %}Login{% endblock %}
{% block body_block %}
<style>
    body{
        font-family: sans-serif;
        text-align: center;
        background-color: ghostwhite;
        background-position: center;
        background-size: cover;
    }
    .form{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 400px;
        margin: 6% auto;
        background: rgb(250, 248, 248);
        padding: 20px;
        border: 1px solid whitesmoke;
        box-shadow: 5px 20px 20px #504e4eee;
        

    }
    .btn{
        width: 350px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: #1b04eb;
        margin-top: 15px;
        border-radius: 15px;
        transition: 0.3s ease;
        height: 60px;

    }
    .btn:hover{
        background-color: rgb(61, 233, 26);
    }
    .input{
        font-size: 18px;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 3px solid rgb(243, 160, 160);
        outline: none;
        background: transparent;
        padding: 10px 0;
    }
</style>
<h2 style="text-align: center; color: rgb(10, 10, 10);">Login</h2>

<form class = "form" method="POST">

    {% csrf_token %}
    <label for="email">Email</label>
            <input type="email" class="input" placeholder="Enter your email" name="email" required>
            
            <label for="password">Password</label>
            <input name="password" type="password" class="input" placeholder="Enter Password" required><br>
    <button type="submit" class="btn btn-primary btn-sm">Login</button>
</form>
<p><a href="#" class="password" style="text-decoration: none;">Forgot Password</a></p>

<p>Don't have an account? <a href="{% url 'App_Login:signup' %}">Register Here</a></p>
{% endblock %}