{% extends "base.html" %}

{% block title_block %} Create New Account {% endblock %}
{% block body_block %}
<style>
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: ghostwhite;
        
    }
    
    .sign{
        display: flex;
        text-align: start;
        flex-direction: column;
        margin: 6% auto;
        align-items: center;
        width: 700px;
        height: 90%;
        background: rgb(250, 248, 248);
        text-align: center;
        padding: 20px;
        border: 1px solid whitesmoke;
        box-shadow: 15px 20px 20px #504e4eee;
        border-radius: 15px;
    }
        
    .btn{
        width: 400px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: #1b04eb;
        margin-top: 15px;
        border-radius: 15px;
        transition: 0.3s ease;

    }
    .btn:hover{
        background-color: rgb(61, 233, 26);
    }
    .box{
        display: flex;
        background-color: rgb(248, 246, 242);
        width: 450px;
        padding: 8px;
        border: none;
        border-bottom: 5px solid rgb(243, 160, 160);
        transition: 0.3s ease;

    }
</style>
<h2> Create New Account </h2>
<form class="sign" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>
<br>
<p>Already have an account? <a href="{% url 'App_Login:login' %}">Login Here</a></p>
{% endblock %}
